body {
    background-color: #f1f1f1;
    margin: 0px;
    padding: 10px;

}

div#navigation {
    background-color: white;
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* width: 1024px; */
}

.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

div#header {
    background-color: white;
    text-align: center;
    padding: 20px;
}

.nav {
    display: flex;
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

.nav .left {
    display: flex;
    margin-right: auto;
}

.nav .right {
    display: flex;
    margin-left: auto;
}

.nav div a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#container1,
div#container2 {
    background-color: white;
    flex: 0 0 65%;
}

.right-column {
    flex: 0 0 30%;
}

div#container1 img {
    padding-left: 15px;
    width: 200px;
    height: auto;

}


.right1 {
    background-color: white;
    margin-left: 50px;
    width: 25%
}

.right1 h2 {
    padding-left: 15px;
}

.right1 p {
    padding-left: 15px;
}

.right1 img {
    padding-left: 15px;
    width: 200px;
    height: auto;

}

.right2 {
    background-color: white;
    margin-left: 50px;
    width: 100%;
    height: 200px;
}

.right2 h2 {
    padding-left: 15px;
}

.right2 p {
    padding-left: 15px;
}

p {
    padding-left: 15px;
}

h2 {
    padding-left: 15px;
}

div#container2 img {
    padding-left: 15px;
    width: 200px;
    height: auto;
}



.container3 {
    margin-left: 50px;
    width: 100%;
    height: 120px;
    background-color: white;
}



.image_container {
    background-color: grey;
    padding-left: 15px;
    text-align: center;
    height: 100px;

}

footer {
    text-align: center;
    padding: 3px;
    background-color: grey;
    color: black;
}

footer p {
    font-weight: bold;
}

@media (max-width: 800px) {
    .right-column {
        order: 3;
        flex: 0 0 100%;
        margin-right: 0;
    }

    .right1,
    .right2,
    .container3 {
        order: 2;
        margin-left: 0;
    }
}